<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<header class="site-header">

	<img class="headerlogo" src="{{ site.baseurl }}images/layout/eye.svg">

	<div class="language">
    	<a class="language-link" href="{{ site.baseurl }}">Es</a>
    	<a class="language-link" href="{{ site.baseurl }}en/"><b>En</b></a>
    </div>

    <nav class="site-nav">
      <a class="page-link" href="#inicio">Home</a>
      <a class="page-link" href="#portafolio">Success stories</a>
      <a class="page-link" href="#nosotros">Know about us</a>
      <a class="page-link" href="#contacto">Get in touch</a>
    </nav>

</header>
