<header class="site-header">
  <img class="menuicon" src="{{ site.baseurl }}images/layout/menu.svg">

  <img class="headerlogo" src="{{ site.baseurl }}images/layout/logowhite.svg">

  <nav class="site-nav">
    <a class="page-link" href="#inicio">Home</a>
    <a class="page-link" href="#portafolio">Success stories</a>
    <a class="page-link" href="#nosotros">Know about us</a>
    <a class="page-link" href="#contacto">Get in touch</a>
  </nav>

  <div class="language">
    <a class="language-link" href="{{ site.baseurl }}"><b>Español</b></a>
    <a class="language-link" href="{{ site.baseurl }}en/">English</a>
  </div>

</header>
