<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg class="menuicon" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="84.667px" height="141.73px" viewBox="45.699 0 84.667 141.73" enable-background="new 45.699 0 84.667 141.73"
	 xml:space="preserve">
<line id="firstline" class="firstline" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="59.078" y1="20.428" x2="88.033" y2="70.267"/>
<line id="secondline" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="88.033" y1="70.267" x2="59.078" y2="121.302"/>
</svg>
