<svg class="menuicon menumobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="113.666px" height="50.333px" viewBox="0 0 113.666 50.333" enable-background="new 0 0 113.666 50.333"
	 xml:space="preserve">
<polygon fill="#141414" points="100.333,0 113.666,50.333 13,50.333 0,0 "/>
<line class="firstline" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="39.385" y1="13.201" x2="75.55" y2="13.201"/>
<line class="midline" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="39.385" y1="24.674" x2="75.55" y2="24.674"/>
<line class="secondline" fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="39.385" y1="36.149" x2="75.55" y2="36.149"/>
</svg>
