/***
 * Social icons
 */

.social_blocklist{
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    left: 50%;
    transform: translateX(-50%);

    span{
        float:left;
        padding: 3%;
        box-sizing: border-box;
        width: 1px / 3px * 100%;
    }
}

.social_icon{
    width:100%;
    height:100%;
    @include transition(.2s, ease);

    &:hover {
        transform: scale(1.1);
    }
}

.facebook{
    &:hover{
        path{
            fill: #3b5998;
        }            
    }
}

.youtube{
    &:hover{
        path{
            fill: #bb0000;
        }            
    }
}

.instagram{
    &:hover{
        path{
            fill:#125688;
        }            
    }
}

.social_icon_black{
    svg{
        path{
            fill:$black;
        }
    }
}

.social_icon_white{
    svg{
        path{
            fill:$white;
        }
    }

    &:hover{
        svg{
            path{
                fill:$dirtywhite;
            }
        }
    }
}

/***
 * Under construction
 */
.underconstruction{
    width: 180px;
    display: block;
    height: 250px;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.logoenconstruccion{
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
    padding: 40px 25px 30px 25px;
}

.textcenter{
    text-align: center;
}

.englishv{
    font-size: $small-font-size;
}

/**
 * Site header
 */
$header-height: 60px;

.site-header {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-94.9%);
    z-index: 3;
    box-sizing: border-box;
    background-color: $black;
    @include transition(.4s, ease);
    border-right: 1px solid $dirtyblack;

    &::before{
        content: " ";
        display: none;
        float:left;
        width:100%;
        height:20px;
        background: repeating-linear-gradient(
          45deg,
          $brand-color,
          $brand-color 10px,
          $background-color 10px,
          $background-color 20px
        );  
        background-size: 100px 100px;
        background-color: $brand-color;
    }
}

.openmenu{
    transform:translateX(0%);
}
/*
.crossed1{
    transform: skewX(7deg) scaleY(1.7) translateX(-6px);
}
.crossed2{
    transform: skewX(-10deg) scaleY(1.7) translateX(14px) translateY(-50px);
}
*/

.menuicon #firstline{
    transform: skewX(0deg) scaleY(1) translateX(0px);
}

.menuicon #secondline{
    transform: skewX(0deg) scaleY(1) translateX(0px) translateY(0px);
}
//
.menuicon.cross #firstline{
    transform: skewX(12deg) scaleY(1.75) translateX(-15px) translateY(-1px);
}

.menuicon.cross #secondline{
    transform: skewX(-10deg) scaleY(1.7) translateX(14px) translateY(-50px);
}

.preventscroll{
    overflow: hidden;
}

.menuicon{
    float: right;
    width: 50px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    background-color: $black;
    padding-left: 15px;
}

.menu-holder{
    float:right;
    width:65px;
    height:100%;
    position:relative;
    background-color:$black;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.headerlogo{
    float: left;
    left: 50%;
    transform: translateX(-50%);
    clear: both;
    position: relative;
    box-sizing: border-box;
    padding-top: 5%;
}

.site-nav {
    float: left;
    box-sizing: border-box;
    width: 95%;
    text-align: center;
    margin-top: 3%;
    padding-left:5%;

    &::before{
            border-bottom: 1px solid $dirtyblack;
            content:" ";
            width:200px;
            height:1px;
    }

    .page-link {
        color: $white;
        line-height: $base-line-height;
        font-family: 'Oswald', sans-serif;
        box-sizing: border-box;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing:3px;
        font-size: 1.2em;
        padding: 10px;
        width: 100%;
        float: left;
        clear: both;
        display: block;
        text-align: center;
        @include transition(.2s, ease);

        &:hover{
            background-color: $dirtyblack;
            text-decoration:none;
        }
    }
}

.language{
    float: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding: 20px;
    text-align: center;
    width: 95%;
    box-sizing: border-box;
    margin-top: 3%;
    padding-left:6%;

    a{
        color:white;
    }

    .language-link{
        padding:10px;
    }
}

/**
 * Site Main
 */ 
main{
    width: 85%;
    float: left;
    height: 100%;
    overflow: scroll;
}
/**
 * Sections
 */
section{
    min-height: 100%;
    float:left;
    clear:both;
    width:100%;
    padding-bottom: 10%;
}

h2{
    width:100%;
    padding:15%;
    text-align: center;
    font-weight: 400;
    letter-spacing: .3em;
    margin-bottom: 0;
    box-sizing: border-box;
}

/*
 * Inicio
 */
#inicio{
    background-color: $white;
    color:$black;

    .language{
        a{
            color:black;
        }
    }
}

.logopage{
    width: 30%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding-top: 8%;
    z-index: 2;
} 

@keyframes blink {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.move_letter{
    @include transition(.4s, ease);
    animation: blink 4s infinite;
    stroke-width:25px;
    transform-origin: 50% 50%;
    stroke-opacity:0;
    stroke:$black;
    &:hover{
        animation: none;
        transform:scale(1.5) !important;
    }
}

@keyframes miniblink {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-5%);
  }
}

.move_iris{
    transform-origin: 50% 50%;
    @include transition(.4s, ease);
    animation: miniblink 4s infinite;
}

#backvideo{
    min-height: 1000px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-150px);
}

/**
 * Portafolio
 */

$clacket-width: 1px;

#portafolio{
    background-color: $black;
    color: $white;
    position:relative;
    padding-bottom: 0;

    &::before{
        display: block;
        content: " ";
        background-color: $white;
        width: 230%;
        position: absolute;
        top: 0;
        height: 100px;
        transform: rotate(4deg) translateX(-200px);
    }

    h2{
        color: $white;
    }   

    h3{
        padding: 5%;
        width:100%;
        text-align: center;
        margin-bottom: 0;
        line-height: 1.1em;
        font-size: 2.5em;
        box-sizing: border-box;
    }

    p{
        float: left;
        width: 100%;
        margin-bottom: 0;
        padding: 10% 20%;
        text-align: center;
    }
    .main_title{
        p{
            padding: 5%;
            font-size: 1.3em;
            width:100%;
        }
    }
}

.brief,.solution{
    float:left;
    width:50%;
    box-sizing: border-box;
}

.brief{
    padding-left: 10%;
}
.solution{
    padding-right:10%;
}

.columned{
    p{
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    }
}

.proyect{
    float:left;
}

.display_container{
    float:left;
    box-sizing: border-box;
    padding: 10% 10% 25% 10%;
    width:100%;
}

.display{
    width: 23%;
    margin: 1%;
    box-sizing: border-box;
    background-attachment: fixed;
    float: left;
    transform: skewY(-15deg);
    overflow: hidden;
    position: relative;

    span{
    transform: skewY(15deg) scale(1.2);
    width: 100%;
    box-sizing: border-box;
    min-height: 350px;
    background-attachment: fixed;
    position: relative;
    float: left;
    }
}

.brief, .solution{

    h3{
        left:50%;
        transform:translateX(-50%);
        position:relative;
    }

    p{
        padding: 2% !important;
        width: 360px !important; 
        clear: both;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-bottom: 8% !important;
        text-align: center;
    }
}

.main_image{
    width: 40%;
    border-left: $clacket-width $dirtyblack solid;
    border-top: $clacket-width $dirtyblack solid;
    box-sizing: border-box;
    padding: 2%;
    height: 200px;
    float: left;
    margin-right: 10%;
}

.video_insert{
    min-height: 565px;
    box-sizing: border-box;
    padding: 2% 10% 10% 10%;
}
.main_title{
    width: 40%;
    padding:2%;
    border-top: $clacket-width $dirtyblack solid;
    box-sizing: border-box;
    float:left;
    margin-left: 10%;
}

.insert{
    &:nth-last-child(1){
        padding-bottom: 15%;
    }
}
iframe{
    width:100%;
    height:100%;

    .video-wrapper{
    background-color: $background-color !important;
    }
    #player{
        background-color: $background-color !important;
    }
}

/**
 * Acerca de nosotros
 */

#nosotros{
    position:relative;
    padding-bottom:0px;
    h2{
        color: $black;
        border-bottom: $clacket-width $dirtywhite solid;
        font-weight: 400;
    }

    h3{
        text-align: center;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    padding: 0 25%;
    box-sizing: border-box;
    }
    &::before{
        display: block;
        content: " ";
        background-color: $white;
        width: 230%;
        position: absolute;
        top: -100px;
        height: 100px;
        transform: rotate(-4deg) translateX(-200px);
    }

    p{
        float: left;
        width: 100%;
        margin-bottom: 0;
        padding: 6% 20%;
        text-align: center;
    }

    .social_blocklist{
        max-width: 120px;
    }

    .members{
    float:left;
    box-sizing: border-box;
    padding-bottom: 15%;
    list-style: none;
    width:100%;
    margin:0;

        li{
            width: 1px / 3px * 100%;
            float:left;
            padding: 5%;
            box-sizing: border-box;

            &:hover{
                img{
                    -webkit-filter:none;
                    filter:none;
                    transform: scale(1.05);
                }
            }

            img{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include transition(.4s, ease);
            }

            p{
                padding: 6% 0%;
            }
        }
    }
}

.profilecard{
    border-radius: 50%;
    float:left;
    padding:10%;
}


/**
 * Contacto
 */

#contacto{
    background-color: $black;
    color: $white;
    position:relative;

    &::before{
        display: block;
        content: " ";
        background-color: $black;
        width: 230%;
        position: absolute;
        top: 0px;
        height: 100px;
        transform: rotate(4deg) translateX(-200px);
    }

    h2{
        color: $white;
        border-bottom: $clacket-width $dirtyblack solid;
    } 

    p a{
        color: $dirtywhite;
    }
    section{
        float:left;
        width:50%;
        clear:none;
        box-sizing:border-box;
        padding: 5%;
    }
    .blocklabel{
        padding: 0 5% 0 0;
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    .social_blocklist{
        padding-right: 50%;
    }

    .display{
        min-height: 300px;
    }
} 

form{
    float: left;
    position: relative;
    clear: both;
    background-color: $dirtywhite;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    @include border-radius(5px);

    label{
        float: left;
        position: relative;
        text-align: right;
        color:$black;
        min-width: 60px;
        width:30%;
        box-sizing: border-box;
        text-align: left;
        padding-bottom: 10px;
   
    }
    input{
        float: left;
        width: 32%;
        border: 0;
        height: 40px;
        position: relative;
        background-color: $black;
        margin-bottom: 4%;
        padding: 10px;
        font-size: 16px;
        font-family: $base-font-family;
        font-weight: 100;
        @include border-radius(5px);
        color:$white;
        width:70%;
        min-width:60px;
        box-sizing: border-box;
    }

    textarea{
        float: left;
        width: 100%;
        border: 0;
        min-height: 160px;
        box-sizing: border-box;
        position: relative;
        background-color: $black;
        font-weight: 100;
        padding: 10px;
        font-size: 16px;
        font-family: $base-font-family;
        @include border-radius(5px);
        color:$white;
        clear: both;
    }

    .form_img{
        float: left;
        position: relative;
        width: 25%;
        height: auto;
        margin-left: 5%;
        margin-top: 35px;
    }

    .sendbutton{
        color: $white;
        width: 100%;
        height: 50px;
        float: left;
        font-size: 16px;
        font-family: $base-font-family;
        @include transition(.4s, ease);
        cursor: pointer;
        background-color: $black;
        margin: 5% 0 0 0;
        box-sizing: border-box;
        clear: both;

        &:hover{
            background-color: $dirtyblack;
            color:$white;
        }
    }
}
#mapa{
    width: 100%;
    height: 250px;
    margin-bottom: 5%;
}
/**
 * Site footer
 */

footer{
    float:left;
    clear:both;
    width:100%;
    background-color: $white;
    color:$black;
    position:relative;

    &::before{
        display: block;
        content: " ";
        background-color: $white;
        width: 230%;
        position: absolute;
        top: -100px;
        height: 100px;
        transform: rotate(-4deg) translateX(-200px);
    }

    .social_blocklist{
        max-width: 150px;
    }
}

.footer-section{
    width:100%;
    float:left;
    box-sizing: border-box;
    min-height: 100px;
    border-bottom: 1px solid $dirtywhite;
    padding: 5%;
    text-align: center;
}

.pastclients{
    float:left;
    box-sizing: border-box;
    list-style: none;
    width:100%;
    margin:0;

    li{
        width: 1px / 5px * 100%;
        float:left;
    }
}

.footer-contact{
    float:left;
    width:100%;
    list-style: none;
    box-sizing: border-box;
    margin:0;

    li{
        width: 1px / 3px * 100%;;
        float:left;

        p{
          line-height: 2.5;
           margin-bottom: 0;
        }
    }
}

.footerlogo{
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    position: relative;
    padding-top: 10%;
    clear: both;
}

.social{
    float: left;
    width: 35px;
    height: 35px;
    background-size: 100px;
}

.social-block{
    position: relative;
    display: block;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}

.youtube-black{
    background-position: -62px 33px;
}

.youtube-white{
    background-position: -128px 2px;
}

.facebook-black{
    background-position: 2px 33px;
}

.facebook-white {
    background-position: 2px 1px;
}

.instagram-black{
    background-position: -28px 33px;
}

.instagram-white {
    background-position: -51px 4px;
}
/**
 * Page content
 */
.page-content {
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

@include media-query($on-palm){
    .headerlogo{
        float: left;
        left: 50%;
        transform: translateX(-50%);
        clear: both;
        position: relative;
        box-sizing: border-box;
    }
    .site-nav{
        clear:both;
        width:100%;
    }
    a.page-link{
        padding: 0px 3.59% 2% 2.5% !important;
        font-size: 1.26em !important;

        &:nth-last-child(1){
            border-right:0px solid;
        }
    }
}