<section id="contacto">
<div class="diagonalcont">
<div class="diagonalpos black"></div>
<div class="diagonalback"></div>
</div>
  <main>
	<h2>Contáctanos</h2>
	<section id="clientcontact">
		<p>Si estás interesado en que produzcamos tu proyecto, escríbenos a esta página de contacto. También puedes enviarnos un e-mail a <a target="_blank" href="mailto:contacto@kapturaprojects.com"><b>contacto</b>@kapturaprojects.com</a></p>
		{% include es/contactform.html %}
	</section>
	<section id="freelancercontact">
		<p>Síguenos en nuestras redes sociales!</p>
          <div class="social_blocklist">
            <a target="_blank" href="{{ site.youtube }}">
              <span class="social_icon_black">{% include youtube.html %}</span>
            </a>
            <a target="_blank" href="{{ site.facebook }}">
              <span class="social_icon_black">{% include facebook.html %}</span>
            </a>
            <a target="_blank" href="{{ site.instagram }}">
              <span class="social_icon_black">{% include instagram.html %}</span>
            </a>
          </div>
    <p>Llámanos!</p>
      <a class="phone" href="tel:5543390298"><b>+52 (55) 43 39 02 98</b></a>
	  <p>Y también puedes visitarnos en:</p>
	    <div id="mapa"></div>
	    <p><a target="_blank" href="https://www.google.com/maps/place/Villamar+18,+San+Diego+Churubusco,+04120+Ciudad+de+M%C3%A9xico,+D.F.,+M%C3%A9xico/@19.3520223,-99.1533351,17z/data=!3m1!4b1!4m2!3m1!1s0x85d1ffcdd89a6fab:0xe689585110f82cd7">Villamar 18, San Miguel Churubusco CP 01234,
	    	División del Norte esquina con Héroes del 47.</a></p>
    </section>
  </main>
</section>
