<section id="contacto">
	</div>
	<h2>Contáctanos</h2>
	<section id="clientcontact">
		<p>Si estás interesado en pedir un proyecto o quieres trabajar con nosotros puedes escribirnos en esta hoja de contacto o mandar un mail a <a href="mailto:contacto@kapturaprojects.com">contacto@kapturaprojects.com</a></p>
		{% include es/contactform.html %}
	</section>
	<section id="freelancercontact">
		<p>Puedes seguirnos en nuestras redes sociales.</p>
      <div class="social_blocklist">
        <span class="social_icon_white">{% include facebook.html %}</span>
        <span class="social_icon_white">{% include youtube.html %}</span>
        <span class="social_icon_white">{% include instagram.html %}</span>
      </div>
	    <p>O pasar a visitarnos en:</p>
	    <div id="mapa"></div>
	    <p>Villamar 18, San Miguel Churubusco CP 01234,
	    	División del Norte esquina con Héroes del 47.</p>
    </section>
</section>