<section id="contacto">
	<div class="display" style="background-image:url({{site.baseurl}}images/portfolio/missgeorgette1.png"></div>
	</div>
	<h2>Contáctanos</h2>
	<section id="clientcontact">
		<p>Si estás interesado en pedir un proyecto o quieres trabajar con nosotros puedes escribirnos en esta hoja de contacto o mandar un mail a <a href="mailto:contacto@kapturaprojects.com">contacto@kapturaprojects.com</a></p>
		{% include es/contactform.html %}
	</section>
	<section id="freelancercontact">
		<p>Puedes seguirnos en nuestras redes sociales.</p>
		<div class="social-block">
	        <div class="social facebook-white" style="background-image:url({{ site.baseurl }}images/layout/socialicons.svg)"></div>
	        <div class="social youtube-white" style="background-image:url({{ site.baseurl }}images/layout/socialicons.svg)"></div>
	        <div class="social instagram-white" style="background-image:url({{ site.baseurl }}images/layout/socialicons.svg)"></div>
	    </div>
	    <p>O pasar a visitarnos en:</p>
	    <div id="mapa"></div>
	    <p>Villamar 18, San Miguel Churubusco CP 01234,
	    	División del Norte esquina con Héroes del 47.</p>
    </section>
</section>