<footer class="site-footer">
  <main>
  <div class="footer-section">
    <p class="empresas">Algunas empresas con las que hemos trabajado</p>
    <ul class="pastclients">
      <li><img src="{{site.baseurl}}images/clientes/redbull.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/redbull.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/redbull.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/redbull.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/redbull.svg"></li>
    <ul>
  </div>

  <div class="footer-section">
    <p><b>Nuestra filosofía es</b></p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
  </div>

  <div class="footer-section">
    <ul class="footer-contact">
    <li>
      <p>Escríbenos<br>
      <a target="_blank" href="mailto:contacto@kapturaprojects.com">
        <b>contacto</b>@kapturaprojects.com</p>
      </a>
    </li>
    <li>
      <p>Llámanos<br>
      <a href="tel:5543390298">+52 (55) 43 39 02 98</a></p>
    </li>
    <li>
      <p>Síguenos</p>
          <div class="social_blocklist">
            <a target="_blank" href="{{ site.youtube }}">
              <span class="social_icon_black">{% include youtube.html %}</span>
            </a>
            <a target="_blank" href="{{ site.facebook }}">
              <span class="social_icon_black">{% include facebook.html %}</span>
            </a>
            <a target="_blank" href="{{ site.instagram }}">
              <span class="social_icon_black">{% include instagram.html %}</span>
            </a>
          </div>
    </li>
    <img class="footerlogo" src="{{ site.baseurl }}images/layout/logo.svg" alt="Kaptura Projects">
  </div>
  </main>
</footer>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{{ site.baseurl }}js/main.js"></script> 