<footer class="site-footer">
<div class="diagonalcont">
<div class="diagonalpos"></div>
</div>
  <main>
  <div class="footer-section">
    <p class="empresas">Algunos clientes con los que hemos trabajado</p>
    <ul class="pastclients">
      <li><img src="{{site.baseurl}}images/clientes/missgeorgette.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/reflekto.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/excapes.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/unam.svg"></li>
      <li><img src="{{site.baseurl}}images/clientes/educadores.svg"></li>
    <ul>
  </div>

  {% include es/last-footer-section.html %}
  </main>
</footer>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{{ site.baseurl }}js/main.js"></script>
