{% include menuicon.html %}
{% include menumobile.html %}
<header class="site-header">
	<img class="headerlogo" src="{{ site.baseurl }}images/layout/logo.svg">
  <nav class="site-nav">
    <a class="page-link" href="{{ if page.menu == 'offhomepage'}}{{site.baseurl}}{{% endif %}}#inicio">Inicio</a>
    <a class="page-link" href="{{ if page.menu == 'offhomepage'}}{{site.baseurl}}{{% endif %}}#portafolio">Últimos proyectos</a>
    <a class="page-link" href="{{ if page.menu == 'offhomepage'}}{{site.baseurl}}{{% endif %}}#nosotros">Sobre nosotros</a>
    <a class="page-link" href="{{ if page.menu == 'offhomepage'}}{{site.baseurl}}{{% endif %}}#contacto">Contáctanos</a>
  <!--  <a class="page-link" href="{{site.baseurl}}rentadeequipo/">Renta de equipo</a>-->
  </nav>
<!--
  <div class="language">
    <a class="language-link" href="{{ site.baseurl }}"><b>Español</b></a>
    <a class="language-link" href="{{ site.baseurl }}en/">English</a>
  </div>-->
</header>
<div class="cover"></div>
