  <div class="footer-section">
    <ul class="footer-contact">
    <li>
      <p>Escríbenos<br>
      <a target="_blank" href="mailto:contacto@kapturaprojects.com">
        <b>contacto</b>@kapturaprojects.com</p>
      </a>
    </li>
    <li>
      <p>Llámanos<br>
      <a href="tel:5543390298">+52 (55) 43 39 02 98</a></p>
    </li>
    <li>
      <p>Síguenos</p>
          <div class="social_blocklist">
            <a target="_blank" href="{{ site.youtube }}">
              <span class="social_icon_white">{% include youtube.html %}</span>
            </a>
            <a target="_blank" href="{{ site.facebook }}">
              <span class="social_icon_white">{% include facebook.html %}</span>
            </a>
            <a target="_blank" href="{{ site.instagram }}">
              <span class="social_icon_white">{% include instagram.html %}</span>
            </a>
          </div>
    </li>
  </ul>
      <p class="legales"><em><b>© Kaptura Projects</b> Todos los derechos reservados, {{ site.time | date: '%Y' }}.</em><br>
      Sitio diseñado y desarrollado por <a href="http://rodrigosalmeron.mx" target="_blank"><b>Rodrigo Salmerón</b>.</p>
  </div>
