<section id="nosotros">
<div class="diagonalcont">
<div class="diagonalpos"></div>
<div class="diagonalback backwhite"></div>
</div>
  <main>
	     <h2>Sobre nosotros</h2>
    <div class="noscard">
       <h3>La productora</h3>
       <p>
       <b>Kaptura</b> existe para producir ideas brillantes. La productora nace de los deseos de
       un grupo de jóvenes especialistas en el campo audiovisual que buscan generar proyectos
       que impacten en el público.
      </p>
    </div>
    <div class="noscard">
      <h3>¿Qué te ofrece <b>Kaptura</b>?</h3>
      <p>
      Si quieres llevar a cabo un proyecto audiovisual Kaptura puede ayudarte en
      todo su proceso desde la concepción de la idea hasta el último proceso de post-producción,
      adecuándonos a tus necesidades. Incluso si necesitas equipo de cámara o equipo de sonido
      nosotros podemos ayudarte, escríbenos a <a target="_blank" href="mailto:contacto@kapturaprojects.com"><b>contacto</b>@kapturaprojects.com</a>
      </p>
   </div>
	<ul class="members">
		{% for member in site.members %}
		<li>
			<div class="display profilecard">
				<span class="colorize" style="background-image:url({{site.baseurl}}images/members/{{member.profile}})"></span>
				<span class="colorizephoto" style="background-image:url({{site.baseurl}}images/members/{{member.profileback}})"></span>
			</div>
			<h3>{{ member.name}} </h3>
			<p>{{member.es_description}}</p>
	        <div class="social_blocklist">
            {% if member.mail %}
	          <a target="_blank" href="mailto:{{ member.mail }}">
	          	<span class="social_icon_white">{% include mail.html %}</span>
	          </a>
            {% endif %}
            {% if member.facebook %}
	          <a target="_blank" href="{{ member.facebook }}">
	          	<span class="social_icon_white">{% include facebook.html %}</span>
	          </a>
            {% endif %}
            {% if member.instagram %}
	          <a target="_blank" href="{{ member.instagram }}">
	            <span class="social_icon_white">{% include instagram.html %}</span>
	          </a>
            {% endif %}
            {% if member.linkedin %}
	          <a target="_blank" href="{{ member.linkedin }}">
	          	<span class="social_icon_white">{% include linkedin.html %}</span>
	          </a>
            {% endif %}
	        </div>
		</li>
		{% endfor %}
	</ul>
  </main>
</section>
