<section id="nosotros">
	<h2>Sobre nosotros</h2>
	<p>Kaptura projects es ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
	<ul class="members">
		{% for member in site.members %}
		<li>
			<img class="profilecard" src="{{site.baseurl}}images/members/{{member.profile}}">
			<h3>{{ member.name}} </h3>
			<p><b>{{member.es_description}}</b></p>
			<p>{{member.contact}}</p>
	        <div class="social_blocklist">
	          <span class="social_icon_black">{% include facebook.html %}</span>
	          <span class="social_icon_black">{% include youtube.html %}</span>
	          <span class="social_icon_black">{% include instagram.html %}</span>
	        </div>
		</li>
		{% endfor %}
	</ul>
	<div class="display" style="background-image:url({{site.baseurl}}images/portfolio/missgeorgette1.png"></div>
</section>