<section id="portafolio">
  <main>
	<h2>Estudios de caso</h2>

	{% for proyect in site.proyects reversed %}
		<div class="proyect">
			<div class="main_title">
			    <h3>{{ proyect.es_title }}</h3>
			    <p>{{ proyect.es_subtitle }}</p>
			</div>
			<div class="main_image">
				<img class="insert" src="{{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.logo}}">
			</div>
			<iframe class="video_insert" src="{{ proyect.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<div class="columned">
			{{ proyect.content }}
			</div>
			<div class="display_container single_line">
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_1}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_1}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_1}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_1}})"></span>
				</div>
			</div>
			<div class="brief">
				<h3>Brief</h3>
				<p>{{ proyect.es_brief}}</p>
			</div>
			<div class="solution">
				<h3>Solución</h3>
				<p>{{ proyect.es_solution}}</p>
			</div>
			<div class="display_container">
				<div class="display">
					<span></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_2}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_2}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_2}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_3}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_3}})"></span>
				</div>
				<div class="display">
					<span style="background-image:url({{site.baseurl}}images/portfolio/{{proyect.id}}/{{proyect.display_3}})"></span>
				</div>
				<div class="display">
					<span></span>
				</div>
			</div>
		</div>
	{% endfor %}
  </main>
</section>