<!DOCTYPE html>
<html>

  {% include es/head.html %}

  <body class="stillbody">
  	<a href="{{ site.baseurl }}"><div class="error_blanket"></div></a>
  	<div class="error_info">
  	<h1>Error 404</h1>
  	{% include logowhite.html %}
	<p>El URL que intentaste ingresar no existe, pero ya que estás aquí <b>puedes hacer click donde sea para visitar nuestro sitio.</b><br> Si crees que es hay problema con nuestros servidores, por favor escríbenos a <a href="mailto:contacto@kapturaprojects.com" target="_blank"><b>contacto</b>@kapturaprojects.com.</a></p>
	</div>
  </body>

</html>
